@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #635ae4;
	--dark-color-b: #7f78e9;
	--dark-color-c: #d3f0d3;
	--dark-color-d: #69af69;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}


.btn {
	cursor: pointer;
	padding: 5px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
	border-radius: 10px;
	width: 10vw;
	text-align: center;
}

.leave {
	width: 1.5vw;
}


.btnSend {
	cursor: pointer;
	padding: 5px 15px;
	background: transparent;
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
	max-width: 10vw;
	margin-left:-50px;
	height: 3.5vh;
}


/* Chat Page */


.chat-container {
	max-width: 70vw;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
	border-radius: 10px;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	height: 60vh;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .myMessage {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--dark-color-c);
	border-radius: 5px;
	overflow-wrap: break-word;

}

.chat-messages .myMessage .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-d);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .myMessage .meta span {
	color: #777;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
	align-items: center;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4.5vh;
	background-color: var(--dark-color-a);
	color: white;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}

.footer a {
	margin: 10px;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 40px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	margin-top: 100px;
	font-size: 40px;
	justify-content: center;
	align-items: center;
}

.join-links {
	margin-top: 30px;
}

.join-links a {
	margin: 10px;
}


.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-radius: 20px;

}

.btnBox{
	justify-content: center;
	display: flex;
	align-items: center;
}

.btn:hover{
	transform: scale(1.05);
	transition: 0.4s;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

/* .join-main .btn {
	margin-top: 20px;
	width: 100%;
} */

.username {
	overflow: hidden;
  	text-overflow: ellipsis; 
}
@media (max-width: 800px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}

	.chat-header {
		flex-direction: column;
	}

	.leaveBtnBox {
		margin: 20px 0 10px 0;
	}

	.header {
		margin-bottom: 10px;
		align-items: center;
		display: flex;
		justify-content: center;
	}
}
